<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Loocator!
  </h1>
  
</div>
<div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="space-between">
  <div fxLayout="column" fxFlex="40%">
      <div style="width: 100%; height: 300px; background: grey" #mapContainer></div>
  </div>
  <div fxLayout="column" fxFlex="40%">
      <span style="position:absolute; width:49%; left:51%; height:100%; background:inherit" #panel></span>
  </div>
</div>
<h3>Enter your current location: </h3>
<input [(ngModel)]="current_address" type="text" placeholder="current location">
<h3>Enter the name of the building where you want to go: </h3>
<input [(ngModel)]="desired_address" type="text" placeholder="desired location">


